.component-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 11px 20px 11px 18px;
  background: #ffffff;

  .name {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #f55673;
  }
  .searchIn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    width: 456px;
    background: #f2f2f2;
    border-radius: 10px;

    .search-input {
      all: unset;
      box-sizing: border-box;
      padding-left: 10px;
      align-self: center;
    }
  }
}
