.sidebar {
  position: sticky;
  top: 0;
  width: 20%;
  min-height: 100vh;
  background: #d9d9d9;
  .logo {
    text-align: center;
    padding-top: 22px;
  }
  .boxesSidebar {
    padding: 38px 0px 0px 7px;
    .box {
      display: flex;
      min-height: 44px;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      .boxIn {
        display: flex;
        gap: 8px;
        justify-content: center;
      }
      .description {
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 30px;
        color: #515151;
      }
    }
  }
}
