@import "../../Global.scss";

.desktop {
  display: flex;
  .teste {
    width: 100%;
    background: #e5e5e5;
    .button-card {
      display: flex;
      flex-direction: column;
      gap: 25px;
      padding: 25px 85px 0px 85px;
      .btn {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
